.todo__title{
    text-align: center;
    align-self: center;

    margin: 2px 40px 40px 40px;
   
}
.todo__text__title{
    margin: 0;
    font-size: 2.6rem;
    filter: drop-shadow(1px 1px 2px  #FF8229);
}

@media (max-width: 500px){
    .todo__text__title{
        font-size: 1.5rem;
    }
}