body{
    
    margin: 0 !important;
    padding: 0  !important;
    background-image: url(https://w.wallhaven.cc/full/x8/wallhaven-x8ye3z.jpg);
    filter: brightness(1.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    height: 100vh;
    color: wheat;
    
   
   
   
}

#root{
    align-self: center;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}



#wave-up{
   position: absolute;

}
#wave-down{
    position: absolute;
    bottom: 0;
 
 }
 .cancha{
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;    
    top: 0;    
    text-align: center;
   
}

.animation{
   
    text-align: center;
    font-size: 40px;
    color: rgba(205, 93, 23, 0.282);
    animation: desplazarse 4s infinite;
    animation-timing-function: ease-out;
    box-shadow: 1px 2px 8px white;
    border-radius: 50%;
    

 
   
}


@keyframes desplazarse{
   
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }


}
@media (max-width: 600px){
    #wave-down{
        display: none;
    }


  

    
    
  
}


 

#modal{
   position: fixed;
}

