body{
    
    margin: 0 !important;
    padding: 0  !important;
    background-image: url(https://w.wallhaven.cc/full/x8/wallhaven-x8ye3z.jpg);
    filter: brightness(1.1);
    background-position: center;
    background-repeat: no-repeat;
    
    display: grid;
    height: 100vh;
    color: wheat;
    
   
   
   
}

#root{
    align-self: center;
}



#wave-up{
   position: absolute;

}
#wave-down{
    position: absolute;
    bottom: 0;
 
 }

@media (max-width: 600px){
    #wave-down{
        display: none;
    }


    .cancha{
        position: fixed;
        height: 30px;
        width: 100vw;
        background-color: #e65100;
    }
    .animation{
        position: fixed;
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
        color: rgba(205, 93, 23, 0.282);
        animation: desplazarse 8s infinite;
        animation-timing-function: ease-out;

     
       
    }
    
  
    @keyframes desplazarse{
        0%{
          
            left: 0;
            color: cornflowerblue;
          
        }
        20%{
            left: 100vw;
            transform: rotate(360deg)
        }
      
        40%{
            left: 90vw;
            transform: rotate(0)
        }

        50%{
            left: -20vw;
            transform: rotate(360deg)
        }

        60%{
            left: 90vw;
            transform: rotate(0)
        }

        70%{
            transform: rotate(360deg);
            left: -20vw;
        }

  
        
       
    
    
    }

    
    
  
}
 




